In [92]:
import pandas as pd 
import numpy as np
import Levenshtein as lv
import os
import sys
import xlsxwriter
import re
import openpyxl
from openpyxl.cell.cell import ILLEGAL_CHARACTERS_RE

In [93]:
dataset = pd.read_excel(r'ornek_malzeme_verisi_active - Asıl.xlsx')
dataset1 = pd.DataFrame()



#with open('ornek_malzeme_verisi_active - Asıl.xlsx', 'r', encoding='utf8', errors='ignore') as f:
#    f.readlines()

In [94]:
#dataset

In [100]:
def clean_dataframe(dataset):
    list_of_deleted_index = dataset[dataset["MLZ_KISA_TANIM_TR"] == " "].index
    list_of_deleted_index = list_of_deleted_index.append(dataset[dataset.MLZ_KISA_TANIM_TR.str.contains('IPTAL', na=True)].index)
    # Lenght of deleted index = 600
    
    print(len(list_of_deleted_index))
    
    for index in list_of_deleted_index:
        #print(index)
        dataset = dataset.drop(index)
        
    dataset["MLZ_KISA_TANIM_TR"] = dataset["MLZ_KISA_TANIM_TR"].replace({'=':''}, regex=True)
    #print(dataset["MLZ_KISA_TANIM_TR"].describe())
    
    return dataset

In [101]:
# list = dataset[dataset.MLZ_KISA_TANIM_TR.str.contains('IPTAL', na=True)].index

In [102]:
dataset['GRUP'] = pd.Series(...)
dataset['YUZDE'] = pd.Series(...)

In [103]:
df1 = dataset[['MLZNO','MLZ_KISA_TANIM_TR', 'GRUP','YUZDE']]

In [104]:
df1 = clean_dataframe(df1)

612

In [105]:
df1

       MLZNO                         MLZ_KISA_TANIM_TR GRUP YUZDE
1     500003   @MATKAP UCU,ELMAS,SAG HELIS,10MM.L160MM  NaN   NaN
3     500009                               KLAVUZ KOLU  NaN   NaN
4     500010             KLAVUZ KOLU, AYARLI TIP, NO:1  NaN   NaN
5     500011             KLAVUZ KOLU, AYARLI TIP, NO:2  NaN   NaN
6     500012             KLAVUZ KOLU, AYARLI TIP, NO:3  NaN   NaN
...      ...                                       ...  ...   ...
5937  768913   SOGUK YAPISTIRICI&SERTLESTIRICI, ISOLA,  NaN   NaN
5938  768914  SOGUK YAPISTIRICI&SERTLESTIRICI, LOCTITE  NaN   NaN
5939  768915  AKULU DARBELI MATKAP, BOSCH, GSB 18V-EC,  NaN   NaN
5940  768916  AKULU SOMUN SIKMA, BOSCH, GDS 18V-EC-250  NaN   NaN
5941  768917  AKULU TASLAMA, BOSCH, GHG 600 CE, 2000W,  NaN   NaN

[5330 rows x 4 columns]

In [106]:
# len(dataset)
grup = 1
for index1 in range(100):
    for index2 in range(5000):
        if index1 == index2:
            break
            
        score  = lv.ratio(dataset.MLZ_KISA_TANIM_TR.iloc[index1], dataset.MLZ_KISA_TANIM_TR.iloc[index2]) * 100 
        if score > 70:
            df1.GRUP.iloc[index2] = grup
            df1.YUZDE.iloc[index2] = score
            grup += 1

In [113]:
# print(df1[df1.MLZNO == 500022])
# print(df1[df1.MLZNO == 500217])
# print(df1[df1.MLZNO == 701809])
# print(df1[df1.MLZNO == 500214])

In [45]:
# dataset = clean_dataframe(dataset)

In [42]:
# !conda list

In [27]:
# len(dataset)

5330

In [51]:
path = os.path.dirname(os.path.realpath('__file__')) + "/deneme1.xlsx"
df1.to_excel(path, sheet_name='Sheet_name_1')